
.navbar{
    background-color: black;
}


.navbar-inverse .navbar-brand{color: white;}
.navbar-inverse .navbar-brand:hover{
    color: lightcyan; text-decoration: underline;
}

.top-nav {
    padding: 0px;
}



.top-nav>li {
    display: inline;
    float: left;
}

.top-nav>li>a:hover{
    color: black;}
.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 5px;
    color: darkgray;

}


.fa-bell{
    margin-top: 10px;
    height: 30px;
}




.btn-custom:hover{
    color: black;
    background:darkgrey;
}

.dropdownbody{
        padding: 5px;

}

.alert-dropdown{
    padding:5px;

}

.img-alert{
    width: 25px;
    margin: 1px;
    margin-left: -5px;

}

.alert-text{
    margin: 2px;
    text-align: left;
}

.date-alert{
    text-align: right;
    padding-top: 0px;
}

.notiheader{
    text-align: center;
}

#notilink{
    margin-left: auto;
    margin-bottom: 2px;
    padding-bottom: 2px;
}


#UserId{
    margin: 5px;

}

/* Fixed navbar */
body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
    width: 300px;
}



#login{
    font-family: Arial;
}



.boxed{
    margin: 20px;
    margin-left: 100px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 10px ;
    color: black;
    text-align: center;
    line-height: 120px;
}


#profile{
    height: 40px;
    weight: 40px;
}


h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.0em
}


h3{
    text-align: center;
    font-size: 25px;
}


p.text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 2em;
}

th{
    font-size: 13px;
}
td>input[type="text"], textarea {
    outline: none;
    font-size: medium;
    box-shadow:none !important;
    border:0px solid #ccc !important;
    margin: 0px;
    padding: 0px;
}
td{
    margin: 0px;
    padding: 0px;
}
td>input[type="number"], textarea {
    outline: none;
    font-size: medium;
    box-shadow:none !important;
    border:0px solid #ccc !important;
    margin: 0px;
    padding: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#itemNo{
    font-size: 15px;
}

.btn-table-made:hover{background-color: #3e3939 ; color: white !important;}
.btn-table-made:focus{ background-color: black; color: white !important;}
.btn-table-made:active,
.btn-table-made{
    background-color: #564f4f; color: white !important;
    outline: 0;
}

.table{
    margin: 0px;
    padding: 0px;
}
.form-control {
    height: 28px;
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: darkred;
    outline:0;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}



#chahidajumbo{
    margin: 0px;
    padding: 40px;
    box-shadow: 1px 5px 14px 2px skyblue;

}


#submit-all{
    width: 100%;
}


.tableinput{
    width: 100%;
}

.jumbotron{
    background:#ffffff;
    padding: 10px;
    box-shadow: 1px 5px 14px 2px skyblue;

}

#sidekickjumbo{
    padding: 15px;
    box-shadow: 1px 5px 14px 2px violet;

}

#SideJumbobody{

    box-shadow: 1px 5px 14px 2px darkgreen;

}

p.verify{
    text-align: center;
    margin: 1px;
    font-size: 12px;
    line-height: .08;
    margin-top: 2em;
    margin-bottom: 1.67em;
    margin-right: 10%;
}

#RFQ{
    margin-left: -4%;
}


#sidejumbotron{
    margin: 0px;
    padding: 0px;

}


h4{
    text-align: left;
    font-size: 18px;
    margin-top: -15px;


}

.navbar-custom{
    background: black;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active{
    color: white;
}

.navbar-custom .navbar-brand:hover{
    color: white; text-decoration: underline}


#SideJumbobody{
    margin-top: -15px;
    padding:15px;

}



#TITLERFQ{
    font-size:10px;
    font-style: italic;
}



#text-stnd{
    font-size: medium;
    margin-top: 10px;
    line-height: 2;
    font-family: "Times New Roman", Times, serif;
}


