
.navbar{
    background-color: black;
}


.navbar-inverse .navbar-brand{color: white;}
.navbar-inverse .navbar-brand:hover{
    color: lightcyan; text-decoration: underline;
}

.top-nav {
    padding: 0;
}



.top-nav>li {
    display: inline;
    float: left;
}

.top-nav>li>a:hover{
    color: black;}
.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 5px;
    color: darkgray;
}

.fa-bell{
    margin-top: 10px;
    height: 30px;
}




.btn-custom:hover{
    color: black;
    background:darkgrey;
}

.dropdownbody{
        padding: 5px;

}

.alert-dropdown{
    padding:5px;

}




#UserId{
    margin: 5px;
}

/* Fixed navbar */
body {
    padding-top: 52px;
}
/* General sizing */
ul.dropdown-lr {
    width: 300px;
}



#login{
    font-family: Arial, serif;
}


#profile{
    height: 40px;
    weight: 40px;
}


h2{
    text-align: center;
}


h3{
    text-align: center;
    margin: 5px;
}

.main-layout{
    background: #EAEBEF;
    margin: 0;
    padding-top: 30px;
}

.form-control {
    height: 28px;
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: darkred;
    outline:0;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#submit-all{
    width: 100%;
}

.tableinput{
    width: 100%;
}

.jumbotron{
    background:#ffffff;
    margin:0;
    padding: 10px;
    box-shadow: 1px 5px 14px 2px skyblue;
}

#SideJumbobody{
    box-shadow: 1px 5px 14px 2px darkgreen;
    margin-bottom: 30px;
}


#sidejumbotron{
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

#rfqimg{
    width: 120px;
    height: 120px;
}


#RFQ{
    margin-left: -4%;
}


#StandardJumbo{
    margin-bottom: 20px;

}

.dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 285px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-container > .dropdown-menu {
    position: static ;
    z-index: 1000;
    padding: 5px 0;
    margin: 0;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 330px;

}


.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu:before, .dropdown-menu.pull-right:before {
    right: 12px;
    left: auto;
}

.dropdown-menu::after, .dropdown-menu.pull-right:after {
    right: 13px;
    left: auto;
}

.dropdown-container > .dropdown-menu + .dropdown-menu {
    padding-top: 0;
}

.dropdown-menu > li > a {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-decoration: none;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.dropdown-toggle {
    cursor: pointer;
}
.dropdown-header {
    white-space: nowrap;
}

.open > .dropdown-container > .dropdown-menu,
.open > .dropdown-container{
    display: block;
}

.dropdown-toolbar {
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0 0;
}

.dropdown-toolbar .dropdown-toolbar-title {
    margin: 0;
    font-size: 14px;
}


@media (min-width: 992px) {
    .anchor-block small {
        display: block;
        font-weight: normal;
        color: #777777;
    }
    .dropdown-menu > li > a.anchor-block {
        padding-top: 6px;
        padding-bottom: 6px;
        text-decoration: none;
    }
}
@media (min-width: 992px) {
    .dropdown.hoverable:hover > ul {
        display: block;
        text-decoration: none;
    }
}
.dropdown-position-topright {
    top: auto;
    right: 0;
    bottom: 100%;
    left: auto;
    margin-bottom: 2px;
}
.dropmenu-item-label {
    white-space: nowrap;
}
.dropmenu-item-content {
    position: absolute;
    text-align: right;
    max-width: 60px;
    right: 20px;
    color: #777777;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}



.dropdown-inverse .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.9);
}


.dropdown-inverse .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #2b2b2b;
}


.notifications {
    list-style: none;
    width: 100%;
    padding: 0;
}


.notification {
    border-bottom: 1px solid #eeeeee;
    color: #333333;

}

.notification-title {
    font-size: 15px;
    text-align: center;
}
.notification-meta {
    color: #777777;
}

a.notification:active,
a.notification{
    color: black;
    text-decoration: none;
}
a.notification:hover{
    color: darkgrey;
}

.notification .media-body {
    padding-top: 2px;
    padding: 4px;
    margin: 0px;
    font-size: smaller;
    padding-bottom: 1px;
    text-decoration: none;
}

#dashrfq{
    font-size:10px;
    font-style: italic;
    line-height: 0.8;
}
.media-object{
    padding-top: 7px;
}

#noti{
    font-size: xx-small;
    font-style: italic;
    margin-left: 1px;
    margin-top: -10px;

}



.navbar-custom{
    background: darkgreen;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active{
    color: white;
}

.navbar-custom .navbar-brand:hover{
    color: white; text-decoration: underline}


#SideJumbobody{
    margin-top: -15px;
    padding:15px;

}



#chahidajumbo{
    border: 1px solid;
    margin: 0 0 20px;
    padding: 50px;
    padding-top: 30px;
    box-shadow: 1px 5px 14px 2px skyblue;
}

.title-top{
    padding:0px;
    padding-top: 15px;
}

hr {
    border: 1px solid #000;
}

#TITLERFQ{
    font-size:10px;
    font-style: italic;
}



#text-stnd{
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

.main-layout {
    background: #EAEBEF;
}







/* tanmoy's css parts */


span b {
    font-size: medium;
}

.form-style-4 label {
    display:block;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: auto;
}
.form-style-4 input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px solid darkred;
    width: 80%;
    outline: none;
    padding: 0 0 0 0;
    font-size: medium;
    float: left;
    margin-left: 10px;

}

.form-style-4 input[type=password]
{
    background: transparent;
    border: none;
    border-bottom: 1px solid darkred;
    width: 85%;
    outline: none;
    padding: 0 0 0 0;
    font-size: medium;
    float: left;
    margin-left: 10px;
}

.form-style-4 input[type=text]:focus
{
    border-bottom: 1px solid deepskyblue;
}

.form-style-4 input[type=password]:focus
{
    border-bottom: 1px solid deepskyblue;
}
.displayinblock input[type=text]::-webkit-input-placeholder,
.form-style-4 input[type=text]::-webkit-input-placeholder {
    font-weight: normal;
}

.displayinblock input[type=text]
{
    font-weight: bold;
    width: 300px;
    background: transparent;
    border: none;
    border-bottom: 2px dotted darkred;
    outline: none;
    padding: 0 0 0 3px;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
}
.displayinblock input[type=text]:focus
{
    border-bottom: 2px dotted deepskyblue;
}

#datetoday {
    float : right;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#datetodaystand {
    font-size: medium;
    float : right;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#dateload {
    float : right;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

#signLabel {
    font-size: small;
    font-style: italic;
    margin-top: 10px;
}
#unsignLabel {
    font-size: small;
    font-style: italic;
    margin-top: 85px;
}

#signblock {
    height: 85px;
}

#signblock input {
    margin-top: 15px;
}

p.text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}
p.text2{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 2em;
}

th{
    font-size: 13px;
}
td>input[type="text"], textarea {
    outline: none;
    font-size: medium;
    box-shadow:none !important;
    border:0 solid #ccc !important;
    margin: 0;
    padding: 0;
    width: 100%;
}
td{
    margin: 0;
    padding: 0;
}
td>input[type="number"], textarea {
    outline: none;
    font-size: medium;
    box-shadow:none !important;
    border:0 solid #ccc !important;
    margin: 0;
    padding: 0;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#item_no{
    font-size: 16px;
    margin: 0;
    padding: 0;
}



.btn-table-made:hover{background-color: #3e3939 ; color: white !important;}
.btn-table-made:focus{ background-color: black; color: white !important;}
.btn-table-made:active,
.btn-table-made{
    background-color: #564f4f; color: white !important;
    outline: 0;
}


.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #acaeaf;
    color: black;
}


.table{
    margin: 0;
    padding: 0;
}
/* tanmoy's css parts */
